body{
    background-color:#bisque;
    font-family: 'Handlee', cursive, Arial;
    text-align: justify;
    line-height: 2;
}
.loader{
	/* display: none; */
	background: #ffe4c4 url('img/load-1110_128.gif') no-repeat center center;
}
.loader.show{
	display: block;
}
*,*::before, *::after{
	box-sizing: border-box;
}

div{
    margin:10px;
    padding: 10px;
}

.progress-bar{
	position: relative;
	width: 500px;
	height: 2em;
	background-color: #111;
	border-radius: 1.5em;
	color: white;
	font-size: 14px;

}

.progress-bar::before{
	content: attr(data-label);
	display: flex;
	align-items: center;
	position: absolute;
	left:.5em;
	top:.25em;
	bottom: .25em;
	width: calc(var(--width, 0)*1%);
	min-width: 2rem;
	max-width: calc(100% - 1em);
	background-color: #069;
	border-radius: 0.5em;
	padding: 0.25em;
	font-size: 14px;
}


h1{
    font-size: 50px;
}

img{
    width: 50%;
}

*{
    margin :0;
    box-sizing: border-box;

}

#myBar {
  width: 10%;
  height: 30px;
  background-color: #04AA6D;
  text-align: justify; /* To center it horizontally (if you want) */
  line-height: 30px; /* To center it vertically */
  color: white;
}

.container {
    width: 90%;
    max-width: 1200px;
    min-height: 600px;
    margin: 80px auto;
    border: 3px solid;
    font-family: 'Handlee', cursive, Arial;
    text-align: justify;
    line-height: 2;

    display: grid;
    /*grid-template-columns: 20% 40% 40%;
    grid-template-rows: 200px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);*/
    grid-template-areas:
        "e1 e1 e1 e17 e17 e17"
        "e2 e2 e2 e16 e16 e16"
        "e4 e5 e6 e16 e16 e16"
        "e7 e7 e7 e16 e16 e16"
        "e8 e9 e10 e3 e3 e3"
        "e11 e11 e11 e3 e3 e3"
        "e12 e13 e14 e3 e3 e3"
        "e15 e15 e15 e18 e18 e18"
    ;

}    
.element {
    color:#280c38;
    font-size: 40px;
    text-align:justify;
    /* width: 200px;
    height: 100px;*/
    font-family: 'Handlee', cursive, Arial;
    text-align: justify;
    line-height: 2;

    display: flex;
    
    justify-content: center; /*flex-start , flex-end , left , right , space-between ,  space-evenly , center, space-around */
    align-items: center;

}

.element--1{
    /*background-color: slateblue;*/
    grid-area: e1;
    /*grid-row: 1/3;*/
}

.element--2{
    /*background-color: goldenrod;*/
    grid-area: e2;
    /*grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 4;*/
}


.element--3{
   /* background-color: seagreen;*/
    grid-area: e3;
    font-size: 20px;
}

.element--4{
    grid-area: e4;
}

.element--5{
    grid-area: e5;
}

.element--6{
    grid-area: e6;
}
.element--7{
   /* background-color: sienna;*/
    grid-area: e7;
}
.element--8{
    grid-area: e8;
}
.element--9{
    grid-area: e9;
}

.element--10{
    grid-area: e10;
}

.element--11{
    grid-area: e11;
}

.element--12{
    grid-area: e12;
	font-size: 14px;
}

.element--13{
    grid-area: e13;
}
.element--14{
    grid-area: e14;
}
.element--15{
    grid-area: e15;
    font-size: 14px;
}
.element--16{
    grid-area: e16;
    font-size: small;
}
.element--117{
    grid-area: e17;
}
.element--18{
    grid-area: e18;
}
/*.element--{
    grid-area: e;
}*/
